{% block additional_content %}
<div>    
    <style>

        .word-wrap {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .open-button {
            color: white;
            border: none;
            transition: transform .3 cubic-bezier(.36, .37, .76, .75);
            cursor: pointer;
        }

        .open-button:active {
            transform: scale(.95);
        }

        .window-background {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            backdrop-filter: blur(0.25em);
            background-color: rgba(255, 255, 255, 0.3);
            z-index: 1;
            display: none;
            align-items: center;
            justify-content: center;
            overflow: hidden; 
        }

        .window-container {
            position: relative;
            width: auto;
            height: auto;
            padding: 1.5rem;
            border-radius: 0.5em;
            animation-name: modal;
            animation-duration: .5s;
            box-shadow: 0 0.313em 0.938em -0.313em rgba(0, 0, 0, 0.4);
            z-index: 10;
        }

        @keyframes modal {
            from {
                transform: translateY(50vh);
            }

            to {
                transform: translateY(0);
            }
        }

        .close {
            transition: transform 1s cubic-bezier(0, -0.42, 1, -0.41);
            transform: translateY(60vh);
        }

        .close-button {
            position: absolute;
            border-radius: 50%;
            top: -0.938em;
            right: -0.938em;
            width: 2.5em;
            height: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.063em solid #eee;
            cursor: pointer;
            background-color: #eee;
        }

        .icon-x {
            fill: rgb(54, 54, 54);
        }

        @media(max-width: 600px) {
            .imagenPerfil {
                flex-direction: column;
            }

            .botonContacto {
                flex-direction: column;
            }

            .sobreMi {
                flex-direction: column;
            }

            .sobreMi .contenidoMi {
                justify-content: center;
                height: auto;
                width: auto;
                margin: 2em;
            }

            .sobreMi .videoMi {
                justify-content: center;
                width: auto;
                margin-left: 0;
            }

            .portafolio {
                flex-direction: column;
            }

            .portafolioImg {
                display: flex;
                border: none;
                flex-wrap: wrap;
            }

            .portafolio h1 {
                justify-content: center;
                margin-left: 0;
                margin-top: 4em;
                margin-bottom: 1em;
            }

            .portafolio img {
                width: 10em;
                height: 10em;
            }

            .clientes {
                flex-direction: column;
            }

            .clientesh2 {
                margin-top: 2em;
            }

        }

    </style>

    <img class="w-screen absolute sm:-top-60 sm:-left-60 -z-50" src="{{ url_for('static', filename='img/bgPlantilla2/web.png' ) }}" alt="fondo">

    <div>        

        <div>
            <div></div>
            
            <div class="flex items-center justify-center imagenPerfil">
                <img class="rounded-full overflow-hidden w-72 h-72 border-8 border-blue-800 mt-8 object-cover" src="{{ url_for('static', filename=content['cardData'][5]) }}" alt="Imagen de perfil">
            </div>
                
            <div>
                <h1 class="flex items-center justify-center text-4xl text-center font-bold text-white mb-4">{{ content['cardData'][10] }} {{ content['cardData'][2] }} {{ content['cardData'][3] }} {{ content['cardData'][4] }}</h1>
                <h2 class="flex items-center justify-center text-white">{{ content['cardData'][7] }}</h2>
               
                <!-- Boton para abrir pop up -->
                <div class="flex items-center justify-center botonContacto">
                    <button class="open-button bg-blue-800 py-1.5 px-14 mb-2 mt-4 " id="open-button"> CONTACTO </button>
                    <div class="window-background" id="window-background">
                        <div class="window-container bg-slate-950" id="window-container">
                            <button class="close-button" id="close-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon-x">
                                    <path 
                                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                                    </path>
                                </svg>
                            </button>
                            <h2 class="flex items-center justify-center text-4xl font-bold text-white mb-4">Datos de Contacto</h2>
                            <div class="flex justify-center">
                                <svg class="fill-white mr-1.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10c1.466 0 2.961-.371 4.442-1.104l-.885-1.793C14.353 19.698 13.156 20 12 20c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8v1c0 .692-.313 2-1.5 2-1.396 0-1.494-1.819-1.5-2V8h-2v.025A4.954 4.954 0 0 0 12 7c-2.757 0-5 2.243-5 5s2.243 5 5 5c1.45 0 2.748-.631 3.662-1.621.524.89 1.408 1.621 2.838 1.621 2.273 0 3.5-2.061 3.5-4v-1c0-5.514-4.486-10-10-10zm0 13c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3z"></path></svg>
                                <a href="mailto:{{ content['cardData'][8] }}" class="font-semibold text-white flex justify-center">{{ content['cardData'][8] }}</a>
                            </div>
                            <div class="flex justify-center">
                                <svg class="fill-white mr-1.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"></path></svg>
                                <a href="tel:{{ content['cardData'][9] }}" class="font-semibold text-white flex justify-center">{{ content['cardData'][9] }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if content['socials'] %}
                    <div class="flex items-center justify-center flex m-3 iconos">
                        {% for redSocialData in content['socials'] %}
                            <div class="px-2">
                                <a href="{{ redSocialData[4] }}" target="_blank" >
                                    {% if redSocialData[2] == 'facebook' %}
                                        <img src="{{ url_for('static', filename='img/socials1/facebook.png') }}" alt="facebook" class="w-8 sm:w-12">
                                    {% elif redSocialData[2] == 'instagram' %}
                                        <img src="{{ url_for('static', filename='img/socials1/instagram.png') }}" alt="instagram" class="w-8 sm:w-12">
                                    {% elif redSocialData[2] == 'twitter' %}
                                        <img src="{{ url_for('static', filename='img/socials1/twitter.png') }}" alt="twitter" class="w-8 sm:w-12">
                                    {% elif redSocialData[2] == 'linkedin' %}
                                        <img src="{{ url_for('static', filename='img/socials1/linkedin.png') }}" alt="linkedin" class="w-8 sm:w-12">                                                    
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
            </div>
        </div>

        {% if content['aboutme'] %}
        <div class="flex items-center sobreMi">
            <div class="flex flex-col ml-32 my-8 w-6/12 h-auto contenidoMi">
                <h2 class="flex text-4xl font-bold text-white mb-4">Sobre mi: </h2>
                <img class="mb-3 w-max h-10 mt-3 mr-12" src="{{ url_for('static', filename= 'img/linea.png') }}" alt="Linea">
                <p class="break-words text-white text-lg text-justify" >{{ content['aboutme'][0][5] }}</p>
            </div>
            
            <div class="sm:ml-52 line-clamp-10 mt-4 w-6/12 videoMi sm:mr-24">                    
                <iframe class="h-96 w-full" src="https://www.youtube-nocookie.com/embed/{{ content['aboutme'][0][6] }}?si=xxBgOEram01mo9dV&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}

        {% if content['briefcase'] %}
        <div class="portafolio">
            <h1 class="ml-32 flex text-4xl font-bold text-white mt-10 mb-10"> Portafolio </h1>
            <div></div>
            <div class="flex flex-wrap justify-center portafolioImg">
                {% for content in content['briefcase'] %}
                    <div class="flex flex-col items-center m-3">                     
                        <img class="mb-2 w-60 h-60 object-cover" src="{{ url_for('static', filename= content[0]) }}" alt="">    
                        <h2 class="text-white text-xl font-bold"> {{ content[1] }} </h2> 
                        <div class="max-w-xs">
                            <p class="text-white text-justify text-sm"> {{ content[2] }} </p> 
                        </div>          
                    </div> 
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if content['costumers'] %}
            <div>   
                <h2 class="ml-32 flex text-4xl font-bold text-white mb-5 mt-8 clientesh2"> Clientes: </h2>
                <div class="flex flex-wrap justify-center clientes">
                    {% for client in content['costumers'] %}        
                        <div class="flex flex-col items-center m-5">     
                            <h2 class="text-white text-xl font-bold">{{ client[0] }}</h2>               
                            <img class="mb-5 w-32 h-6 mt-3" src="{{ url_for('static', filename= 'img/estrellas.png' ) }}" alt=""> 
                            <div class="max-w-xs">
                                <p class="text-white text-justify text-xs">{{ client[3] }}</p>
                            </div>
                        </div>                             
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="flex justify-center">
            <hr width="1400">
        </div>

        {% if content['ubication'] %}
        <div class="flex flex-col items-center justify-center m-5 mapa">
            <hr>
            <div></div>
            <div class="h-[300px] w-full sm:h-[400px] sm:w-[800px] flex justify-center mt-8 mb-5 map" id="map"></div>
            <div><h2 class="text-white"> {{ content['ubication'][0][7]}} </h2></div>
        </div>
        {% endif %}
        
    </div>
    
    {% if content['ubication'] %}
    <script> 
        function initMap() {
            var myLatLng = { lat: {{ content['ubication'][0][5] }}, lng: {{ content['ubication'][0][6] }} };            
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 18,
                disableDefaultUI: true
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Estoy aqui !!'
            });
        }
        
        //Codigo para ventana emergente
        const windowBackground = document.getElementById('window-background'),
            windowContainer = document.getElementById('window-container'),
            openButton = document.getElementById('open-button'),
            closeButton = document.getElementById('close-button')
        
        openButton.addEventListener('click', () => windowBackground.style.display = 'flex')

        const closeWindow = () => {
            windowContainer.classList.add('close')

            setTimeout(() => {
                windowContainer.classList.remove('close')
                windowBackground.style.display = 'none'
            }, 1000)
        }

        closeButton.addEventListener('click', () => closeWindow())

        window.addEventListener('click', e => e.target == windowBackground && closeWindow())
            
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAOxlT3Rswp8bJYPGHF6u4bXBuoeo1RAA&callback=initMap"></script>
    {% endif %}
</div>

{% endblock %}
