{% include 'partials/base.html' %}

<body class="overflow-x-hidden bg-gray-200">
            
    <div class="flex w-screen">
        
        {% set url = urlQr %}
        {% set userData = user %}
        {% include 'partials/aside.html' %}
        <div class="ml-64 flex-1 h-screen p-8 ">
            <!-- Component list -->
            <div class="w-full text-center bg-white rounded-lg shadow-lg py-4">
                <p class="text-2xl font-bold">Agrega componentes a tu tarjeta</p>
                <p>Da click en el componente que deseas agregar y llena la informacion que se te pide</p>
            </div>
            
            <div class="w-full h-[75%] mt-8 p-8 flex justify-center items-center bg-white rounded-lg shadow-lg">
                {% if not data['aboutme'] %}
                <!-- About me -->
                <div class="m-4">
                                    
                    <button data-modal-target="aboutme-modal" data-modal-toggle="aboutme-modal" class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center " type="button">
                        Sobre mi
                    </button>
                                    
                    <div id="aboutme-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">                        
                            <div class="relative bg-white rounded-lg shadow ">                            
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                    <h3 class="text-xl font-semibold text-gray-900 ">
                                        Sobre mi
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="aboutme-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>

                                <form action="/aboutme" method="post">
                                    <div class="p-4 md:p-5 space-y-4">                                    
                                        <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900">Habla sobre ti</label>
                                        <textarea rows="10" id="large-input" name="content" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-red-500 focus:border-red-500 "> </textarea>
                                    </div>          
                                    <div class="p-4 md:p-5 space-y-4">
                                        <label for="url" class="block mb-2 text-sm font-medium text-gray-900">Liga a un video de YouTube</label>
                                        <input type="url" id="url" name="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 " required>
                                    </div>                  
                                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
                                        <button data-modal-hide="aboutme-modal" type="sunmit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Guardar</button>                                
                                    </div>
                                </form>                            
                            </div>
                        </div>
                    </div>
    
                </div>
                {% endif %}
                
                {% if not data['briefcase'] %}
                <!-- briefcase -->
                <div class="m-4">
                                    
                    <button data-modal-target="briefcase-modal" data-modal-toggle="briefcase-modal" class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center " type="button">
                        Mi portafolio
                    </button>
                                    
                    <div id="briefcase-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">                        
                            <div class="relative bg-white rounded-lg shadow ">                            
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                    <h3 class="text-xl font-semibold text-gray-900 ">
                                        Mi portafolio
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="briefcase-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>

                                <form action="/briefcase" method="post" enctype="multipart/form-data">
                                    <div class="p-4 md:p-5 space-y-4">                                                                            
                                        <div class="mb-5">                                            
                                            <p class="block mb-2 text-sm text-gray-900">Sube almenos 1 imagen para tu portafolio</p>
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="content1" name="content1" type="file" required  accept="image/*" onchange="validateFile(document.getElementById('content1'))" >
                                            <p class="block mb-2 text-sm text-gray-900">Complementa tu portafolio con hasta 5 imagenes</p>
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="content2" name="content2" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content2'))">
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="content3" name="content3" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content3'))">
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="content4" name="content4" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content4'))">
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="content5" name="content5" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content5'))">
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="content6" name="content6" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content6'))">
                                        </div>
                                    </div>                            
                                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
                                        <button data-modal-hide="briefcase-modal" type="sunmit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Guardar</button>                                
                                    </div>
                                </form>                            
                            </div>
                        </div>
                    </div>
    
                </div>
                {% endif %}
                
                {% if not data['costumers'] %}
                <!-- costumers -->
                <div class="m-4">
                                    
                    <button data-modal-target="costumers-modal" data-modal-toggle="costumers-modal" class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center " type="button">
                        Mis clientes
                    </button>
                                    
                    <div id="costumers-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">                        
                            <div class="relative bg-white rounded-lg shadow ">                            
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                    <h3 class="text-xl font-semibold text-gray-900 ">
                                        Mis clientes
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="costumers-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>

                                <form action="/costumers" method="post" enctype="multipart/form-data">
                                    <div class="p-4 md:p-5 space-y-4">                                    
                                        <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900">Registra la informacion de un cliente, mas adelante podras registrar mas.</label>
                                        <div class="mb-5">
                                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                                            <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 " required>
                                        </div>
    
                                        <div class="mb-5">
                                            <label class="block mb-2 text-sm font-medium text-gray-900 " for="logo">Imagen de logo</label>                                        
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="logo" name="logo" type="file" required accept="image/*" onchange="validateFile(document.getElementById('logo'))">    
                                        </div>
                                            
                                    </div>                            
                                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
                                        <button data-modal-hide="costumers-modal" type="sunmit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Guardar</button>                                
                                    </div>
                                </form>                            
                            </div>
                        </div>
                    </div>
    
                </div>
                {% endif %}
                
                {% if not data['ubication'] %}
                <!-- ubication -->
                <div class="m-4">
                                    
                    <button data-modal-target="ubication-modal" data-modal-toggle="ubication-modal" class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center " type="button">
                        Mi ubicacion
                    </button>
                                    
                    <div id="ubication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">                        
                            <div class="relative bg-white rounded-lg shadow ">                            
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                    <h3 class="text-xl font-semibold text-gray-900 ">
                                        Mi ubicacion
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="ubication-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>

                                <form action="/ubication" method="post">
                                    <div class="p-4 md:p-5 space-y-4">                                    
                                        <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900">Registra tu direccion e indica en el mapa la ubicacion</label>
                                        <div class="mb-5">
                                            <label for="ubication" class="block mb-2 text-sm font-medium text-gray-900">Direccion</label>
                                            <input type="text" id="ubication" name="ubication" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 " required>
                                        </div>     
                                        
                                        <!-- Campos ocultos para latitud y longitud -->
                                        <input type="hidden" id="latitude" name="latitude" value="20.095271706069948">
                                        <input type="hidden" id="longitude" name="longitude" value="-98.75850677490234">
                                        <div class="mb-5">
                                            <p class="block mb-2 text-sm text-gray-900">Mueve el marcador a tu direccion</p>
                                            <div id="map" style="height: 400px;"></div>
                                        </div>
                                    </div>                            
                                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
                                        <button data-modal-hide="ubication-modal" type="sunmit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Guardar</button>                                
                                    </div>
                                </form>                            
                            </div>
                        </div>
                    </div>
    
                </div>
                {% endif %}

                {% if data['ubication'] and data['costumers'] and data['briefcase'] and data['aboutme'] %}
                    Por el momento haz agregado todos los componentes disponibles, espera mas pronto.
                {% endif %}

            </div>
            
        </div>                                                      

    </div>    

    <script>
        var map;
        var marker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 20.095271706069948, lng: -98.75850677490234 },
                zoom: 8
            });

            marker = new google.maps.Marker({
                map: map,
                position: { lat: 20.095271706069948, lng: -98.75850677490234 },
                draggable: true
            });

            marker.addListener('dragend', function () {
                var position = marker.getPosition();
                document.getElementById('latitude').value = position.lat();
                document.getElementById('longitude').value = position.lng();
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAOxlT3Rswp8bJYPGHF6u4bXBuoeo1RAA&callback=initMap"></script>
{% include 'partials/baseEnd.html' %}