{% include 'partials/base.html' %}

<body class="overflow-x-hidden	bg-gray-200">

    <div class="w-full flex justify-between items-center h-[10vh]">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo rostro empresarial" class="w-40 ml-8 mt-6 ">
    
        <div class="flex items-center">
            <h2 class="font-semibold">{{ user[2] }}</h2>
            <a href="/dashboard" class="bg-[#ff4a4a] hover:bg-red-600 h-fit py-2 px-4 rounded-xl text-white mx-8">
                Regresar 
            </a>
        </div>
    
    </div>

    <div class="flex justify-center mb-8">

        <div class="bg-neutral-50 flex justify-center flex-col px-8 py-4 mb-8 rounded-xl shadow-2xl h-fit">
            <h3 class="font-bold text-3xl w-full text-center mb-8">Mi tarjeta de presentacion</h3> 

            <form class="flex justify-center items-center flex-col" action="/createCard" method="post" enctype="multipart/form-data" id="cardForm">
                <div class="flex justify-center">
                    <div class="mx-4">
                        <div class="mb-5">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                            <div class="flex w-96">
                                <select id="titulo" name="titulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-1/4 p-2.5 " required>
                                    <option>Lic.</option>
                                    <option>Ing.</option>
                                    <option>Ph.D.</option>
                                    <option>Dr.</option>
                                    <option>Mtro.</option>
                                    <option>Mtr.</option>
                                    <option>C.P.</option>
                                    <option value="">Ninguno</option>
                                </select>
        
                                <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 w-3/4 block p-2.5 " required>
                            </div>                            
                        </div>
        
                        <div class="mb-5">
                            <label for="lastNameFather" class="block mb-2 text-sm font-medium text-gray-900">Apellido paterno</label>
                            <input type="text" id="lastNameFather" name="lastNameFather" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                        </div>
        
                        <div class="mb-5">
                            <label for="lastNameMother" class="block mb-2 text-sm font-medium text-gray-900">Apellido materno</label>
                            <input type="text" id="lastNameMother" name="lastNameMother" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                        </div>
        
                        <div class="mb-5">
                            <label for="cargo" class="block mb-2 text-sm font-medium text-gray-900">Cargo</label>
                            <input type="text" id="cargo" name="cargo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                        </div>
                        
                        <div class="mb-5">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo electronico</label>
                            <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                        </div>
        
                        <div class="mb-5">
                            <label for="telephone" class="block mb-2 text-sm font-medium text-gray-900">Numero de celular</label>
                            <input type="text" id="telephone" name="telephone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                        </div>
        
                        
                    </div>
    
                    <div class="mx-4">
                        <p class="block mb-2 text-sm font-medium text-gray-900">Redes sociales</p>
                        <p class="block mb-2 text-sm text-gray-900">Ingresa la liga para cada red social</p>
    
                        <div class="mb-5">
                            <label for="facebook" class="block mb-2 text-sm font-medium text-gray-900">Facebook</label>
                            <input type="url" id="facebook" name="facebook" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                        </div>
                        <div class="mb-5">
                            <label for="instagram" class="block mb-2 text-sm font-medium text-gray-900">Instagram</label>
                            <input type="url" id="instagram" name="instagram" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                        </div>
                        <div class="mb-5">
                            <label for="twitter" class="block mb-2 text-sm font-medium text-gray-900">X - Twitter </label>
                            <input type="url" id="twitter" name="twitter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                        </div>
                        <div class="mb-5">
                            <label for="linkedin" class="block mb-2 text-sm font-medium text-gray-900">LinkedIn</label>
                            <input type="url" id="linkedin" name="linkedin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                        </div>
    
                        <div class="mb-5">
                            <label class="block mb-2 text-sm font-medium text-gray-900 " for="profilePictureMain">Foto de perfil</label>                    
                            <input class="block w-96 mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="profilePictureMain" name="profilePictureMain" type="file" required accept="image/*" onchange="validateFile(document.getElementById('profilePictureMain'))" >                            
                        </div>
                                                
                    </div>
                </div>                

                <button type="submit" class="text-white bg-[#ff4a4a] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>          
            </form>            
             
        </div>

    </div>


    <script>
        function validateFile(fileInp) {
            var filePath = fileInp.value;
            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        
            if (!allowedExtensions.exec(filePath)) {
                alert('Por favor, selecciona un archivo de imagen válido (jpg, jpeg, png, gif).');
                fileInp.value = '';
                return false;
            }
            return true;
        }
    </script>
        
{% include 'partials/baseEnd.html' %}