{% include 'partials/base.html' %}

<body class="overflow-x-hidden bg-gray-200">
            
    <div class="flex w-screen">

        {% set url = urlQr %}
        {% set userData = user %}
        {% include 'partials/aside.html' %}        

        {% if ( data ) %}            
            {% include 'partials/card.html' %}
            
            {% block additional_content %}
                {% with content=content %}
                    {{ super() }}
                {% endwith %}
            {% endblock %}

        {% else %}
            <div class="flex flex-1 flex-col items-center  ml-72 mt-8 mx-8 px-8 py-4 bg-white shadow-lg rounded-lg">
                <h3 class="font-bold text-3xl w-full text-center mb-8">Mi tarjeta</h3>
                <p>Aun no haz registrado tu informacion, por favor da click y comienza la creacion.</p>
                <a href="/createCard" class="bg-[#ff4a4a] hover:bg-red-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                    Crear mi tarjeta
                </a>
            </div>
        {% endif %}

    </div>    

{% include 'partials/baseEnd.html' %}