{% include 'partials/base.html' %}

<body class="overflow-x-hidden bg-gray-200">
            
    <div class="flex w-screen">

        {% set url = urlQr %}
        {% set userData = user %}
        {% include 'partials/aside.html' %}        

        {% if ( data ) %}            
            {% include 'partials/card.html' %}
            
            {% block additional_content %}
                {% with content=content %}
                    {{ super() }}
                {% endwith %}
            {% endblock %}

        {% else %}
            <div class="flex flex-1 flex-col items-center  ml-64 pt-8">
                <h3 class="font-bold text-3xl w-full text-center mb-8">Mi tarjeta</h3>
                <p>Aun no cuentas con una tarjeta de presentacion, por favor crea una.</p>
                <a href="/createCard" class="bg-[#C44890] hover:bg-pink-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                    Crear mi tarjeta
                </a>
            </div>
        {% endif %}

    </div>    

{% include 'partials/baseEnd.html' %}