{% include 'partials/base.html' %}

<body class="overflow-x-hidden bg-gray-200">

    {% set url = urlQr %}
    {% set userData = user %}
    {% include 'partials/aside.html' %}
    <div class="ml-64 flex-1 p-8 ">

        <div class="md:flex w-full">
            <ul id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist" class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 md:me-4 mb-4 md:mb-0">
                <li class="me-2" role="presentation">
                    <button id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full aria-selected:bg-red-200 aria-selected:text-gray-500 aria-selected:hover:text-gray-900" aria-current="page">
                        <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                        </svg>
                        Perfil
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button id="aboutme-tab" data-tabs-target="#aboutme" type="button" role="tab"  aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full aria-selected:bg-red-200 aria-selected:text-gray-500 aria-selected:hover:text-gray-900">
                        <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 256h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
                        Sobre mi
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button id="content-tab" data-tabs-target="#content" type="button" role="tab"  aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full aria-selected:bg-red-200 aria-selected:text-gray-500 aria-selected:hover:text-gray-900">
                        <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18"><path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/></svg>
                        Portafolio
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button id="clients-tab" data-tabs-target="#clients" type="button" role="tab"  aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full aria-selected:bg-red-200 aria-selected:text-gray-500 aria-selected:hover:text-gray-900">
                        <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"/>
                            <path d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"/>
                        </svg>
                        Clientes
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button id="ubicacion-tab" data-tabs-target="#ubicacion" type="button" role="tab"  aria-selected="false" class="inline-flex items-center px-4 py-3 text-gray-400 rounded-lg hover:text-gray-900 bg-white w-full aria-selected:bg-red-200 aria-selected:text-gray-500 aria-selected:hover:text-gray-900">
                        <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                        Ubicacion
                    </button>
                </li>
            </ul>
            <div class="p-6 bg-white text-medium text-gray-500 rounded-lg flex-1" id="default-tab-content">    
                <!--Tab for profile -->            
                <div class="hidden p-4 rounded-lg bg-white " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="font-bold text-3xl w-full text-center mb-8 text-black">Mis datos personales</h3> 
                    <form class="w-full flex  items-center flex-col" action="/editProfile" method="post" enctype="multipart/form-data">
                        <div class="flex justify-center w-full">
                            <div class="mx-4">
                                <div class="mb-5">
                                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                                    <div class="flex w-96">
                                        <select id="titulo" name="titulo" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-1/4 p-2.5 " required>                                            
                                            <option {% if content['cardData'][10] == 'Lic.' %}selected{% endif %}>Lic.</option>
                                            <option {% if content['cardData'][10] == 'Ing.' %}selected{% endif %}>Ing.</option>
                                            <option {% if content['cardData'][10] == 'Ph.D.' %}selected{% endif %}>Ph.D.</option>
                                            <option {% if content['cardData'][10] == 'Dr.' %}selected{% endif %}>Dr.</option>
                                            <option {% if content['cardData'][10] == 'Mtro.' %}selected{% endif %}>Mtro.</option>
                                            <option {% if content['cardData'][10] == 'Mtr.' %}selected{% endif %}>Mtr.</option>
                                            <option {% if content['cardData'][10] == 'C.P.' %}selected{% endif %}>C.P.</option>
                                            <option value="" {% if content['cardData'][10] == '' %}selected{% endif %}>Ninguno</option>
                                        </select>
                
                                        <input type="text" id="name" name="name" value="{{ content['cardData'][2] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 w-3/4 block p-2.5 " required>
                                    </div>                            
                                </div>
                
                                <div class="mb-5">
                                    <label for="lastNameFather" class="block mb-2 text-sm font-medium text-gray-900">Apellido paterno</label>
                                    <input type="text" id="lastNameFather" name="lastNameFather" value="{{ content['cardData'][3] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                                </div>
                
                                <div class="mb-5">
                                    <label for="lastNameMother" class="block mb-2 text-sm font-medium text-gray-900">Apellido materno</label>
                                    <input type="text" id="lastNameMother" name="lastNameMother" value="{{ content['cardData'][4] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                                </div>
                
                                <div class="mb-5">
                                    <label for="cargo" class="block mb-2 text-sm font-medium text-gray-900">Cargo</label>
                                    <input type="text" id="cargo" name="cargo" value="{{ content['cardData'][7] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                                </div>
                                
                                <div class="mb-5">
                                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo electronico</label>
                                    <input type="email" id="email" name="email" value="{{ content['cardData'][8] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                                </div>
                
                                <div class="mb-5">
                                    <label for="telephone" class="block mb-2 text-sm font-medium text-gray-900">Numero de celular</label>
                                    <input type="text" id="telephone" name="telephone" value="{{ content['cardData'][9] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                                </div>
                            </div>
                            <div class="mx-4">
                                <p class="block mb-2 text-sm font-medium text-gray-900">Redes sociales</p>
                                    <p class="block mb-2 text-sm text-gray-900">Edita la liga para cada red social</p>                                    
                                    <div class="mb-5">
                                        <label for="facebook" class="block mb-2 text-sm font-medium text-gray-900">Facebook</label>
                                        <input type="url" id="facebook" name="facebook" value="{{ content['socials'][0] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5">
                                    </div>
                                    
                                    <div class="mb-5">
                                        <label for="instagram" class="block mb-2 text-sm font-medium text-gray-900">Instagram</label>
                                        <input type="url" id="instagram" name="instagram" value="{{ content['socials'][1] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                                    </div>
                                    <div class="mb-5">
                                        <label for="twitter" class="block mb-2 text-sm font-medium text-gray-900">X - Twitter </label>
                                        <input type="url" id="twitter" name="twitter" value="{{ content['socials'][2] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                                    </div>
                                    <div class="mb-5">
                                        <label for="linkedin" class="block mb-2 text-sm font-medium text-gray-900">LinkedIn</label>
                                        <input type="url" id="linkedin" name="linkedin" value="{{ content['socials'][3] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " >
                                    </div>
                                    <div class="mb-5">
                                        <label class="block mb-2 text-sm font-medium text-gray-900 " for="profilePictureMain">Foto de perfil</label>                    
                                        <p class="block mb-2 text-sm text-gray-900">Imagen actual</p>
                                        <div class="flex px-4 py-4">
                                            <div class="w-full hidden sm:flex justify-center">                                            
                                                <img src="{{ url_for('static', filename=content['cardData'][5] ) }}" alt="Imagen de perfil" class="h-60 object-cover object-center rounded-lg">                                                
                                            </div>
                                        </div>
                                        
                                        <p class="block mb-2 text-sm text-gray-900">Puedes subir una nueva foto de perfil principal</p>
                                        <input class="block w-96 mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="profilePictureMain" name="profilePictureMain" type="file" accept="image/*" onchange="validateFile(document.getElementById('profilePictureMain'))" >
                                        <input type="hidden" id="profilePictureMainId" name="profilePictureMainId" value="{{ content['cardData'][5] }}">
                                        
                                    </div>
                            </div>                            
                        </div>    
                        <button type="submit" class="text-white bg-[#ff4a4a] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>                     
                    </form>

                </div>
                <!--Tab for aboutme -->            
                <div class="hidden p-4 rounded-lg bg-white " id="aboutme" role="tabpanel" aria-labelledby="aboutme-tab">
                    <h3 class="font-bold text-3xl w-full text-center mb-8 text-black">Sobre mi</h3> 
                    <form class="w-full" action="/editAboutme" method="post" enctype="multipart/form-data">
                        <div class="flex justify-center items-center flex-col w-full">
                            <div class="mb-5 w-full">                                
                                <textarea id="message" name="message" rows="10" class="block w-full p-2.5 text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-red-500 focus:border-red-500 placeholder="Habla sobre ti..." required>{{ content['aboutme'][0][5] }}</textarea>
                            </div>  
                            <div class="mb-2 w-full">
                                <label for="url" class="block mb-2 text-sm font-medium text-gray-900">Liga a un video de YouTube</label>
                                <input value="https://www.youtube.com/watch?v={{ content['aboutme'][0][6] }}" type="url" id="url" name="url" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 " required>
                            </div>       
                            <button type="submit" class="text-white bg-[#ff4a4a] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>           
                        </div>                        
                    </form>

                </div>
                <!--Tab for portafolio -->            
                <div class="hidden p-4 rounded-lg bg-white " id="content" role="tabpanel" aria-labelledby="content-tab">
                    <h3 class="font-bold text-3xl w-full text-center mb-8 text-black">Mi portafolio</h3> 
                    <form class="w-full" action="/editBriefcase" method="post" enctype="multipart/form-data">
                        <div class="flex justify-center items-center flex-col w-full">
                            <p class="block mb-2 text-sm text-gray-900">Este es tu portafolio actual, puedes agregar o cambiar las imagenes</p>  
                            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">                                    
                                <div class="flex flex-col items-center justify-center">                    
                                    <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= content['briefcase'][0][0]) }}" alt="">                    
                                    <input type="hidden" id="content1id" name="content1id" value="{{ content['briefcase'][0][0] }}">
                                    <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="content1" name="content1" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content1'))" >
                                </div>                                
                                <div class="flex flex-col items-center justify-center">                    
                                    {% if content['briefcase'][1] %}
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= content['briefcase'][1][0]) }}" alt="">                    
                                        <input type="hidden" id="content2id" name="content2id" value="{{ content['briefcase'][1][0] }}">
                                    {% else %}
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= 'img/noImg.png' ) }}" alt="">                    
                                        <input type="hidden" id="content2id" name="content2id" value="">
                                    {% endif %}                                
                                    <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="content2" name="content2" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content2'))" >
                                </div>

                                <div class="flex flex-col items-center justify-center">                    
                                    {% if content['briefcase'][2] %}    
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= content['briefcase'][2][0]) }}" alt="">                    
                                        <input type="hidden" id="content3id" name="content3id" value="{{ content['briefcase'][2][0] }}">
                                    {% else %}
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= 'img/noImg.png' ) }}" alt="">                    
                                        <input type="hidden" id="content3id" name="content3id" value="">
                                    {% endif %}    
                                    <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="content3" name="content3" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content3'))" >
                                </div>
                                <div class="flex flex-col items-center justify-center">                    
                                    {% if content['briefcase'][3] %}    
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= content['briefcase'][3][0]) }}" alt="">                    
                                        <input type="hidden" id="content4id" name="content4id" value="{{ content['briefcase'][3][0] }}">
                                    {% else %}
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= 'img/noImg.png' ) }}" alt="">                    
                                        <input type="hidden" id="content4id" name="content4id" value="">
                                    {% endif %}    
                                    <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="content4" name="content4" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content4'))" >
                                </div>
                                <div class="flex flex-col items-center justify-center">                    
                                    {% if content['briefcase'][4] %}    
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= content['briefcase'][4][0]) }}" alt="">                    
                                        <input type="hidden" id="content5id" name="content5id" value="{{ content['briefcase'][4][0] }}">
                                    {% else %}
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= 'img/noImg.png' ) }}" alt="">                    
                                        <input type="hidden" id="content5id" name="content5id" value="">
                                    {% endif %}   
                                    <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="content5" name="content5" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content5'))" >
                                </div>
                                <div class="flex flex-col items-center justify-center">                    
                                    {% if content['briefcase'][5] %}    
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= content['briefcase'][5][0]) }}" alt="">                    
                                        <input type="hidden" id="content6id" name="content6id" value="{{ content['briefcase'][5][0] }}">
                                    {% else %}
                                        <img class="h-40 sm:h-52 object-cover object-center rounded-lg" src="{{ url_for('static', filename= 'img/noImg.png' ) }}" alt="">                    
                                        <input type="hidden" id="content6id" name="content6id" value="">
                                    {% endif %}   
                                    <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="content6" name="content6" type="file"  accept="image/*" onchange="validateFile(document.getElementById('content6'))" >
                                </div>
                            </div>
                            <button type="submit" class="text-white bg-[#ff4a4a] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40 mt-12">Aceptar</button>          
                        </div>                        
                    </form>
                </div>
                <!--Tab for clientes -->            
                <div class="hidden p-4 rounded-lg bg-white " id="clients" role="tabpanel" aria-labelledby="clients-tab">

                    <div class="flex">
                        <h3 class="font-bold text-3xl w-full text-center mb-8 text-black">Mis clientes</h3> 
                        <button data-modal-target="costumers-modal" data-modal-toggle="costumers-modal" class="block w-12 h-12 flex justify-center items-center text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm text-center " type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-8 h-8 text-white transition duration-75 group-hover:text-gray-900 " aria-hidden="true" fill="currentColor">
                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                            </svg>
                        </button>
                    </div>
                                    
                    <div id="costumers-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">                        
                            <div class="relative bg-white rounded-lg shadow ">                            
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                    <h3 class="text-xl font-semibold text-gray-900 ">
                                        Nuevo cliente
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="costumers-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>

                                <form action="/newCostumer" method="post" enctype="multipart/form-data">
                                    <div class="p-4 md:p-5 space-y-4">                                        
                                        <div class="mb-5">
                                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                                            <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 " required>
                                        </div>
    
                                        <div class="mb-5">
                                            <label class="block mb-2 text-sm font-medium text-gray-900 " for="logo">Imagen de logo</label>                                        
                                            <input class="block w-full mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="logo" name="logo" type="file" required accept="image/*" onchange="validateFile(document.getElementById('logo'))">    
                                        </div>
                                            
                                    </div>                            
                                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
                                        <button data-modal-hide="costumers-modal" type="sunmit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Guardar</button>                                
                                    </div>
                                </form>                            
                            </div>
                        </div>
                    </div>

                    {% if content['costumers'] %}
                        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                            {% for client in content['costumers'] %}    
                                <div class="flex flex-col items-center justify-center">                    
                                    <img class="h-40 sm:h-60 object-cover object-center rounded-lg" src="{{ url_for('static', filename= client[1] ) }}" alt="">
                                    <h2 class="w-full text-center font-bold"> {{ client[0] }} </h2>
                                    <div>
                                        <button type="button" data-modal-target="static-modal{{ loop.index }}" data-modal-toggle="static-modal{{ loop.index }}" class="bg-[#ff4a4a] w-40 hover:bg-red-600 h-fit py-2 px-4 rounded-xl text-white mx-2"> 
                                            Editar
                                        </button>
                                        <a href="/deleteClient/{{ client[2] }}" class="bg-[#ff4a4a] w-40 hover:bg-red-600 h-fit py-2 px-4 rounded-xl text-white mx-2">
                                            Eliminar 
                                        </a>
                                    </div>
                                    
                                </div>                             
                            {% endfor %}
                        </div>

                        {% for client in content['costumers'] %}   
                        <!-- Main modal -->
                        <div id="static-modal{{ loop.index }}" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative p-4">
                                <!-- Modal content -->
                                <div class="relative bg-white rounded-lg shadow ">
                                    <!-- Modal header -->
                                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                        <h3 class="text-xl font-semibold text-gray-900 ">
                                            Edita la informacion del cliente
                                        </h3>
                                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="static-modal{{ loop.index }}">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="p-4 md:p-5 space-y-4">
                                        <form class="flex justify-center items-center flex-col w-96" action="/editClient/{{ client[2] }}" method="post" enctype="multipart/form-data" >
                                            <div class="mb-5">
                                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                                                <input type="text" id="name" name="name" value="{{ client[0] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                                            </div>

                                            <div class="mb-5">
                                                <label class="block mb-2 text-sm font-medium text-gray-900 " for="logo">Imagen de logo (opcional) </label>                                        
                                                <input type="hidden" id="logoid" name="logoid" value="{{ client[1] }}">
                                                <input class="block w-96 mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none " aria-describedby="user_avatar_help" id="logo{{ loop.index }}" name="logo" type="file" accept="image/*" onchange="validateFile(document.getElementById('logo{{ loop.index }}'))">
                                                
                                            </div>

                                            <button data-modal-hide="static-modal" type="submit" class="text-white bg-[#ff4a4a] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No cuenta con clientes registrados aun, por favor registre alguno primero</p>
                    {% endif %}
                </div>
                <!--Tab for ubicacion -->            
                <div class="hidden p-4 rounded-lg bg-white " id="ubicacion" role="tabpanel" aria-labelledby="ubicacion-tab">
                    <h3 class="font-bold text-3xl w-full text-center mb-8 text-black">Mi ubicacion</h3> 
                    <form class="w-full" action="/editUbication" method="post" enctype="multipart/form-data">
                        <div class="flex justify-center items-center flex-col w-full">
                            <div class="mb-5">
                                <label for="ubication" class="block mb-2 text-sm font-medium text-gray-900">Direccion</label>
                                <input type="text" id="ubication" name="ubication" value="{{ content['ubication'][0][7] }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-96 p-2.5 " required>
                            </div>     
                            
                            <!-- Campos ocultos para latitud y longitud -->
                            <input type="hidden" id="latitude" name="latitude" value="{{ content['ubication'][0][5] }}">
                            <input type="hidden" id="longitude" name="longitude" value="{{ content['ubication'][0][6] }}">
                            <div class="mb-5">
                                <p class="block mb-2 text-sm text-gray-900">Mueve el marcador a tu direccion</p>
                                <div id="map" class="w-[500px]" style="height: 400px;"></div>
                            </div>
                            <button type="submit" class="text-white bg-[#ff4a4a] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>          
                        </div>                        
                    </form>
                </div>                
            </div>
        </div>

    </div>

    <script>
        function validateFile(fileInp) {
            var filePath = fileInp.value;
            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        
            if (!allowedExtensions.exec(filePath)) {
                alert('Por favor, selecciona un archivo de imagen válido (jpg, jpeg, png, gif).');
                fileInp.value = '';
                return false;
            }
            return true;
        }
    </script>

    <script>
        var map;
        var marker;

        function initMap() {
            var myLatLng = { lat: {{ content['ubication'][0][5] }}, lng: {{ content['ubication'][0][6] }} };            
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 18
            });

            marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                draggable: true
            });

            marker.addListener('dragend', function () {
                var position = marker.getPosition();
                document.getElementById('latitude').value = position.lat();
                document.getElementById('longitude').value = position.lng();
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAOxlT3Rswp8bJYPGHF6u4bXBuoeo1RAA&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

{% include 'partials/baseEnd.html' %}