<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <title>Cards Carnival</title>
    <link rel="icon" href="{{  url_for('static', filename='img/icon.webp') }}">
    <style>
        #imgHover:hover{
            opacity: 100;
        }
    </style>
</head>

<body class="overflow-x-hidden	">

    <div class="w-full flex justify-between items-center h-[15vh]">
        <img src="{{ url_for('static', filename='img/carnivalLogo.png') }}" alt="logo carnival" class="w-60 ml-8 mt-6 ">
    
        <div class="flex justify-between items-center">
            <h2 class="font-semibold">{{ userName }}</h2>
            <a href="/logout" class="bg-[#C44890] hover:bg-pink-600 h-fit py-2 px-4 rounded-xl text-white mx-8">
                    Salir 
            </a>
        </div>
    
    </div>

    <div class="flex justify-center">

        {% if ( haveCard ) %}
            
            <div class="flex w-screen pt-4">

                <div class="w-1/5 h-[85vh] flex flex-col items-center sticky top-0 z-10 bg-white" >
                    <h3 class="font-bold text-3xl w-full text-center mb-8">Mi tarjeta</h3>
                    <img  id="qrImage" src="{{ url_for('static', filename= qrSource[0] ) }}" alt="myQRCode" class="w-1/2">
                    
                    <a href="http://cardscarnival.com/mycard/{{ content.cardData[10] }}" target="_blank" class="font-medium text-blue-600 hover:underline" >mycard/{{ content.cardData[10] }}</a>
                    <button type="button" onclick="generateAndDownloadImage()" class="w-1/3 bg-[#C44890] hover:bg-pink-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                        Descargar QR
                    </button>
                    
                    <button type="button" onclick="downloadApk()" class="w-1/3 bg-[#C44890] hover:bg-pink-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                        Descargar APP
                    </button>
                    <button type="button" data-modal-target="static-modal" data-modal-toggle="static-modal" class="w-1/3 bg-[#C44890] hover:bg-pink-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                        Agregar cliente
                    </button>
                    <a href="/editCard" class="w-1/3 bg-[#C44890] hover:bg-pink-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                        Editar tarjeta
                    </a>
                </div>
                
                <!-- Main modal -->
                <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow ">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                <h3 class="text-xl font-semibold text-gray-900 ">
                                    Agrega un cliente
                                </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="static-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5 space-y-4">
                                <form class="flex justify-center items-center flex-col w-96" action="/addClient" method="post" enctype="multipart/form-data" >
                                    <div class="mb-5">
                                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                                        <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block w-96 p-2.5 " required>
                                    </div>

                                    <div class="mb-5">
                                        <label class="block mb-2 text-sm font-medium text-gray-900 " for="logo">Imagen de logo</label>                                        
                                        <input class="block w-96 mt-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " aria-describedby="user_avatar_help" id="logo" name="logo" type="file" required accept="image/*" onchange="validateFile(document.getElementById('logo'))">
                                        
                                    </div>

                                    <button data-modal-hide="static-modal" type="submit" class="text-white bg-[#C44890] hover:bg-fuchsia-800 focus:ring-4 focus:outline-none focus:ring-fuchsia-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                

                <div class="w-4/5" >
                    {% extends 'partials/card.html' %}

                    {% block footer %}
                            </div>

                        </div>

                    </div>
    
                    <script>
                        function generateAndDownloadImage() {
                            var currentImageUrl = document.getElementById('qrImage').src;
                                            
                            var link = document.createElement('a');
                            link.href = currentImageUrl;
                            link.download = 'new_qr_image.png';
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                    </script>

                    <script>
                        function downloadApk() {
                            var apkUrl = '/static/apk/cardsCarnival.apk';

                            var link = document.createElement('a');
                            link.href = apkUrl;
                            link.download = 'tu_archivo.apk';
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                    </script>

                    <script>
                        function validateFile(fileInp) {
                            var filePath = fileInp.value;
                            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                        
                            if (!allowedExtensions.exec(filePath)) {
                                alert('Por favor, selecciona un archivo de imagen válido (jpg, jpeg, png, gif).');
                                fileInp.value = '';
                                return false;
                            }
                            return true;
                        }
                    </script>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
                    </body>
                    </html>
                    {% endblock %}
                    {% block additional_content %}
                        {% with content=content %}
                            {{ super() }}
                        {% endwith %}
                    {% endblock %}
                </div>

            </div>

            {% else %}

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-3xl w-full text-center mb-8">Mi tarjeta</h3>
                <p>Aun no cuentas con una tarjeta de presentacion, por favor crea una.</p>
                <a href="/createCard" class="bg-[#C44890] hover:bg-pink-600 h-fit w-fit py-2 px-4 rounded-xl text-white mt-8"> 
                    Crear mi tarjeta
                </a>
            </div>
            
            {% endif %}

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>