{% include 'partials/base.html' %}

{% set content = content %}

{% if template == 0 %}
    <body class="bg-gray-200">
    {% include 'partials/card.html' %}
{% elif template == 1 %}
    <body class="bg-slate-950">
    {% include 'partials/card1.html' %}
{% elif template == 2 %}
    <body class="">
    {% include 'partials/card2.html' %}
{% elif template == 3 %}
    <body class="bg-black">
    {% include 'partials/card3.html' %}
{% elif template == 4 %}
    <body class="bg-neutral-900">
    {% include 'partials/card4.html' %}
{% endif %}

{% include 'partials/baseEnd.html' %}